include ../title/title
include ../button/button

-
  const elementsData = [
    {
      label: 'Отлив',
      id: 'otliv',
      name: 'otliv',
      checked: 'checked',
      explanation: 'Заказ отлива',
    },
    {
      label: 'Откидной механизм',
      id: 'folding',
      name: 'folding',
      explanation: 'Комплектация откидным механизмом',
    },
    {
      label: 'Детский замок',
      id: 'lock',
      name: 'lock',
      explanation: 'Замок безопасности',
    },
    {
      label: 'Подоконник/Порог',
      id: 'sill',
      name: 'sill',
      explanation: 'Заказ подоконника / порога',
    },
    {
      label: 'Энергосберегающий',
      id: 'energy-saving',
      name: 'energy-saving',
      explanation: 'Защита от теплопотерь',
    },
    {
      label: 'Монтаж',
      id: 'mounting',
      name: 'mounting',
      explanation: 'Монтаж всей системы',
    },
  ]

-
  const radioButtons = [
    {
      id: 'pine-tree',
      value: 'pine-tree',
      label: 'Сосна',
      checked: 'checked',
      image: 'pine.jpg',
      alt: 'Сосна',
    },
    {
      id: 'larch-tree',
      value: 'larch-tree',
      label: 'Лиственница',
      checked: '',
      image: 'larch.jpg',
      alt: 'Лиственница',
    },
    {
      id: 'oak-tree',
      value: 'oak-tree',
      label: 'Дуб',
      checked: '',
      image: 'oak.jpg',
      alt: 'Дуб',
    },
    {
      id: 'meranti-tree',
      value: 'meranti-tree',
      label: 'Меранти',
      checked: '',
      image: 'meranti.jpg',
      alt: 'Меранти',
    },
  ]

-
  const constructionTypes = [
    {
      id: 'single-window',
      value: 'single-window',
      label: 'Одностворчатое',
      checked: 'checked',
      image: 'win-icon-1.png',
      w: 26,
      h: 34,
      alt: 'Одностворчатое',
    },
    {
      id: 'double-window',
      value: 'double-window',
      label: 'Двустворчатое',
      checked: '',
      image: 'win-icon-2.png',
      w: 47,
      h: 34,
      alt: 'Двустворчатое',
    },
    {
      id: 'triple-window',
      value: 'triple-window',
      label: 'Трехстворчатое',
      checked: '',
      image: 'win-icon-3.png',
      w: 56,
      h: 34,
      alt: 'Трехстворчатое',
    },
    {
      id: 'arched-window',
      value: 'arched-window',
      label: 'Арочное',
      checked: '',
      image: 'win-icon-4.png',
      w: 28,
      h: 37,
      alt: 'Арочное',
    },
  ]

mixin calculator-form(mod)
  section.calculator-form(class= mod ? 'calculator-form--' + mod : '')
    +title('Рассчитать стоимость').calculator-form__title
    form.calculator-form__form(action="#" method="post").js-cf
      div.calculator-form__left-side
        div.calculator-form__select-block
          if (mod === 'door')
            label.calculator-form__sub-title Выберите материал дверей
          else
            label.calculator-form__sub-title Выберите тип окна
          select(name= mod ? mod + '-type' : "window-type").calculator-form__select
            option(value="wooden") Деревянные
            option(value="wood-aluminum") Дерево-алюминиевые
        div.calculator-form__select-block
          label.calculator-form__sub-title Выберите тип пакета
          select(name="window-glass").calculator-form__select
            option(value="single-chamber") Однокамерный + Стекло
            option(value="dual-chamber") Двухкамерный + Стекло
        fieldset.calculator-form__item
          legend.calculator-form__sub-title Выберите тип дерева
          ul.calculator-form__radio-list
            each item in radioButtons
              li.calculator-form__radio-item
                input.calculator-form__radiobox.visually-hidden(type="radio" id= item.id name="tree-type" value=item.value checked= item.checked ? true : false)
                label.calculator-form__radio-label(for= item.id)
                  span.calculator-form__radio-img-wrapp
                    img(src="img/calculator-form/tree-type/" + item.image width="63" height="63" alt= item.alt).calculator-form__radio-img
                  span #{item.label}
        fieldset.calculator-form__item
          legend.calculator-form__sub-title.calculator-form__sub-title--orange Дополнительные элементы
          ul.calculator-form__check-list
            each element in elementsData
              li.calculator-form__check-item
                input.calculator-form__checkbox.visually-hidden(type="checkbox" id= element.id name= element.name checked= element.checked ? true : false)
                label.calculator-form__check-label(for= element.id) #{element.label}
                  span.calculator-form__label-explanation(data-explanation= element.explanation) ?
        +button('Оформить заказ', 'green')(type='submit').calculator-form__submit-btn
      div.calculator-form__right-side
        if (!mod)
          fieldset.calculator-form__item.calculator-form__item--construction
            legend.calculator-form__sub-title Тип конструкции
            ul.calculator-form__construction-type-list
              each icon in constructionTypes
                li.calculator-form__construction-type-item
                  input.calculator-form__construction-type-box.visually-hidden(type="radio" id= icon.id name="construction-type" value=icon.value checked= icon.checked ? true : false)
                  label.calculator-form__construction-type-label(for= icon.id)
                    img(src="img/calculator-form/win-icons/" + icon.image width= icon.w height= icon.h alt= icon.alt title= icon.alt).calculator-form__construction-type-img
                    span.visually-hidden #{icon.label}
        fieldset.calculator-form__item.calculator-form__item--size
          legend.visually-hidden Выбор размеров
          div.calculator-form__size-wrapper
            div.calculator-form__size.calculator-form__size--height.js-cf-size
              input(type="text" id="win-height" name="win-height" maxlength="4" required)
              label(for="win-height") Высота
            div.calculator-form__size-img(class= mod ? 'calculator-form__size-img--' + mod : '')
              if (mod === 'door')
                img(src="img/calculator-form/door.png" width="132" height="253" alt="Образец двери")
              else
                img(src="img/calculator-form/window.jpg" width="137" height="136" alt="Образец окна")
              div.calculator-form__size.js-cf-size
                label(for="win-width") Ширина
                input(type="text" id="win-width" name="win-width" maxlength="4" required)
        div.calculator-form__price
          if (mod === 'door')
            h3.calculator-form__price-title Стоимость двери
          else
            h3.calculator-form__price-title Стоимость окна
          span.calculator-form__price-value 13 632 р.
          p.calculator-form__price-description Обращаем Ваше внимание, что данный расчет является приблизительным. Наш менеджер сообщит Вам точную стоимость после уточнения информации.
          p.calculator-form__price-description Нажимая кнопку “Оформить заказ”, Вы принимаете
            |
            |
            a(href="#") политику конфиденциальности
