mixin quality(data, mod)
  div(class='quality' + (mod ? ' quality--' + mod : ''))&attributes(attributes)
    div.quality__img
      img(src="img/icons/" + data.image width=data.w height=data.h alt=data.alt)
    div.quality__description-wrapper
      p.quality__title!= data.title
      if (data.description)
        p.quality__description!= data.description
